
.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400.5px;
}

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginbtn:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
.alert {
    padding: 10px;
    background-color: #ffffff;
    color: red;
    border:1px solid red;
}
.successalert {
    padding: 10px;
    background-color: #e4ede9;
    color: #04AA6D;
    border:1px solid #04AA6D;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*        position: fixed;*/
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
.hometableclass {
    border-collapse: collapse;
    width: 80%;
}

.hometdthclass {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.menutableclass {
    border-collapse: collapse;
    width: 50%;
}

.menutdthclass {
    padding: 8px;
    text-align: left;

}


.stmtthclass {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
    color:#959e9a
}
.stmttdclass {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
}
.pagination {
    display: flex; /* Align child elements horizontally */
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 5px;
    width: 5px;
    background-color: white;
}

.pagination-link {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
}

.pagination-linkactive {
    background-color: #e4ede9;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
}
